html, body
{
	height: 100%;
}
body
{
	width:100%;
	margin: 0px;
	padding: 0px;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}
h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}
p, ol, ul
{
	margin-top: 0;
}
ol, ul
{
	padding: 0;
    list-style: none;
}
p
{
	line-height: 180%;
}
a
{
	color: #2C383B;
}
a:hover
{
	text-decoration: none;
}
.container
{
	margin: 0px auto;
	width: 1200px;
}
.button
{
	display: inline-block;
	padding: 1.3em 3em;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
	color: #FFFFFF;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
    font-weight: 600;
    transition: transform 80ms ease-in;
}
.button:active
{
	transform: scale(0.95);
}
.button:focus
{
	outline: none;
}
#header-wrapper
{
	background: #FFF;
}
#header
{
	position: relative;
	height: 80px;
	width:90%;
}
#header-featured h1
{
	float:right;
	position:relative;
    margin-right:8%;
    margin-top:25%;
    margin-bottom:0%;
    font-size:40px;
    color:rgb(252, 252, 252);
}
#header-featured
{
	height: 70%;
	background-image: url(/static/img/pano_teacher.jpg);
	background-position: center;
	background-size: cover;
}
#logo
{
	position: absolute;
	top: 6%;
	bottom: 6%;
	left: 0;
	width: 100%;
}
#logo h1
{
	display: inline-block;
	font-size: 45px;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.3);
}
#logo a
{
	text-decoration: none;
	color: #2C383B;
}
#menu
{
	position: absolute;
	right: 0;
	top: 10%;
	bottom:0;
}
#menu ul
{
	display: inline-block;
}
#menu li
{
	display: block;
	float: left;
	text-align: center;
    line-height: 60px;
}
#menu li a
{
	display: inline-block;
	margin-left: 1px;
	padding: 0 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #212121;
    background: #ECECEC;
	border-radius:20%;
}
#menu li a:active
{
    background-color:rgb(226, 192, 192);
}
#menu li a:hover
{
	background-color:rgb(236, 116, 144);
	transition-duration: 1s;
	border-radius:50%;
}
#menu .current_page_item a
{
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFF;
    border-radius:50%;
}
#banner-wrapper
{
	overflow: hidden;
	padding: 3em 0em;
	width:100%;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
}
#banner
{
	overflow: hidden;
	width: 100%;
	align:center;
	text-align: center;
	color: rgba(255,255,255,.7);
}
#banner a
{
	color: rgba(255,255,255,.9);
}
#wrapper
{
	background: #FFF;
	width:100%;
}
#copyright
{
	overflow: hidden;
	padding: 5em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
}
#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.3);
}
#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}
#featured-wrapper
{
	overflow: hidden;
	padding: 6em 0em;
	width:100%;
	background: #383838;
	text-align: center;
}
#featured
{
	overflow: hidden;
}
#featured .title
{
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid rgba(255,255,255,.1);
}
#featured .title h2
{
	font-size: 1.2em;
}
#featured h2
{
	text-align: center;
	color: #FFF;
}
#featured .icon
{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
	margin: 0px auto 20px auto;
	line-height:  100px;
	text-align: center;
	color: #FFF;
}
.column1,  .column2,  .column3,  .column4
{
	width: 23.4%;
}
.column1,  .column2
{
	float: left;
	margin-right: 24px;
}
.column3
{
	float: left;
	margin-right: 24px;
}
.column4
{
	float: right;
}
#footer-wrapper
{
	overflow: hidden;
	padding: 6em 0em;
	width:100%;
	background: #383838;
	text-align: center;
}
#footer
{
	overflow: hidden;
	width:100%;
}
#footer .title h2
{
	font-size: 1.6em;
	font-weight: 300;
	color: #FFF;
}
#footer .title .byline
{
	display: block;
	padding-top: 1em;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.5);
}
#extra
{
	overflow: hidden;
	margin: 0em auto 0em auto;
	padding: 5em 0em 5em 0em;
	text-align: center;
}
#extra h2
{
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 2.4em;
	color: #555555;
}
#extra span
{
	display: block;
	padding-top: 0.20em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #A2A2A2;
}

@font-face
{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	     url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	     url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
	     url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'Font-Awesome-Social';
	src: url('fonts/fontawesome-social-webfont.eot');
	src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/fontawesome-social-webfont.woff') format('woff'),
		 url('fonts/fontawesome-social-webfont.ttf') format('truetype'),
		 url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}
.dropdown
{
    position: relative;
    display: block;
    float:right;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color:white;
    min-width: 250px;
    max-width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown img
{
    border-radius:50%;
}
.personal
{
    text-align: center;
}
.dropdown-content a
{
    color: black;
    padding: 0;
    width:70%;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover
{
    background-color: #f1f1f10e;
}
.dropdown-content img
{
    border-radius:50%;
}
.button1
{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
    padding: 7px 15px;
    margin-bottom:7px;
    margin-right:7px;
    float:right;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.button1:active
{
	transform: scale(0.95);
}
.button1:focus
{
	outline: none;
}
